Repository pyrsia/pyrsia, pull requests merged in 2022-03, with the labels that each got.

#439 Introduce `AuthorityVerifier` to handle blockchain signature verification
  Cargo.lock
  src/blockchain/Cargo.toml
  src/blockchain/src/identities.rs
  src/blockchain/src/identities/authority_pen.rs
  src/blockchain/src/identities/authority_verifier.rs
  src/blockchain/src/identities/verify_key.rs
  src/blockchain/src/lib.rs
Labels: blockchain

#424 Refactor to use block hash as block id
  src/blockchain/src/block.rs
  src/blockchain/src/blockchain.rs
  src/blockchain/src/header.rs
  src/blockchain/src/storage.rs
Labels: blockchain

#458 Fix warning in blockchain identities
  src/blockchain/src/identities/verify_key.rs
Labels: blockchain

#461 Remove `genesis block` and treat it as a normal block
  src/blockchain/examples/simple_node.rs
  src/blockchain/src/block.rs
  src/blockchain/src/blockchain.rs
  src/blockchain/src/lib.rs
  src/blockchain/src/network.rs
  src/blockchain/src/storage.rs
Labels: blockchain

#446 Update source folder readme with more terminology and sub-crate
  src/readme.md
Labels: documentation

#464 Introduce the `KeyBox` for consensus engine
  Cargo.lock
  src/blockchain/Cargo.toml
  src/blockchain/src/identities.rs
  src/blockchain/src/identities/authority_pen.rs
  src/blockchain/src/identities/authority_verifier.rs
  src/blockchain/src/identities/key_box.rs
Labels: blockchain

#504 Remove kademlia proxy and unused ed25519 keypair
  src/network.rs
  src/network/kademlia_thread_safe_proxy.rs
  src/node_manager/handlers.rs
Labels: p2p

#481 Clean blockchain usage of cryptographic key-pairs
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  pre-commit.bat
  pre-commit.sh
  src/blockchain/Cargo.toml
  src/blockchain/examples/simple_node.rs
  src/blockchain/readme.md
  src/blockchain/src/block.rs
  src/blockchain/src/blockchain.rs
  src/blockchain/src/header.rs
  src/blockchain/src/identities/authority_verifier.rs
Labels: blockchain

#430 Breakdown development workflow from PR template
  .github/pull_request_template.md
  docs/dev_workflow.md
  docs/good_pr.md
Labels: documentation

#521 Refactor Blockchain::header::Address to libp2p::PeerId
  Cargo.lock
  src/blockchain/Cargo.toml
  src/blockchain/examples/simple_node.rs
  src/blockchain/src/block.rs
  src/blockchain/src/blockchain.rs
  src/blockchain/src/header.rs
Labels: blockchain

#519 Removed lava_torrent.
  Cargo.lock
  Cargo.toml
Labels: dependencies

#528 Update PR template with `--all-targets` flag
  .github/pull_request_template.md
  docs/dev_workflow.md
  docs/local_dev_setup.md
Labels: documentation
